.link {
  color: $color-primary;

  &--success {
    color: $color-success;
  }

  &--danger {
    color: $color-danger;
  }

  &--black {
    color: #000;
  }

  &--gray {
    color: $color-gray;
  }

  &--small {
    font-size: 12px;
    font-weight: 500;
  }
}

.input {
  height: 50px;
  border-radius: 10px;
  border: none;
  padding: 0 15px;
  outline: none;
  border: 1px solid transparent;
  transition: border .3s;

  &:focus {
    border-color: $color-primary;
  }

  &--error {
    border-color: $color-danger;

    &:focus {
      border-color: $color-danger;
    }
  }
}

.title1 {
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
}

.text {
  &--success {
    color: $color-success;
  }

  &--danger {
    color: $color-danger;
  }

  &--gray {
    color: $color-gray;
  }

  &--primary {
    color: $color-primary;
  }

  &--small {
    font-size: 12px;
    font-weight: 500;
  }
}

.price {
  display: inline-flex;
  align-items: center;

  &:after {
    content: '\e800';
    margin-left: 4px;
    font-family: 'iconsfont';
    font-weight: normal;
    font-size: 11px;
  }

  &--primary {
    color: $color-primary;
  }

  &--14 {
    &:after {
      font-size: 14px;
    }
  }
}

.swiper-pagination-bullets {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgba(28, 47, 118, 0.33);

  &:hover {
    background: rgba(28, 47, 118, 0.66);
  }

  &:not(:first-child) {
    margin-left: 10px;
  }

  &-active {
    background-color: $color-primary;

    &:hover {
      background-color: $color-primary;
    }
  }
}



@include media_max_width(680px) {
  .price {
    font-size: 12px;
    font-weight: 500;
  }

  .title1 {
    &--desktop {
      display: none;
    }
  }
}