.body-lock {
  overflow: hidden;
}

.link {
  color: $color-primary;

  &--success {
    color: $color-success;
  }

  &--danger {
    color: $color-danger;
  }

  &--black {
    color: #000;
  }

  &--line {
    &:hover {
      text-decoration: underline;
    }
  }

  &--small {
    font-size: 12px;
    font-weight: 500;
  }
}

.input {
  height: 50px;
  border-radius: 10px;
  border: none;
  padding: 0 15px;
  outline: none;
  border: 1px solid transparent;
  transition: border .3s;

  &:focus {
    border-color: $color-primary;
  }
}

.title1 {
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
}

.text {
  &-success {
    color: $color-success;
  }

  &-danger {
    color: $color-danger;
  }

  &-gray {
    color: $color-gray;
  }

  &-primary {
    color: $color-primary;
  }
}