.link {
  color: $color-primary;

  &--success {
    color: $color-success;
  }

  &--danger {
    color: $color-danger;
  }

  &--black {
    color: #000;
  }

  &--line {
    &:hover {
      text-decoration: underline;
    }
  }

  &--small {
    font-size: 12px;
    font-weight: 500;
  }
}

.input {
  height: 50px;
  border-radius: 10px;
  border: none;
  padding: 0 15px;
  outline: none;
  border: 1px solid transparent;
  transition: border .3s;

  &:focus {
    border-color: $color-primary;
  }
}

.title1 {
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
}

.text {
  &--success {
    color: $color-success;
  }

  &--danger {
    color: $color-danger;
  }

  &--gray {
    color: $color-gray;
  }

  &--primary {
    color: $color-primary;
  }

  &--small {
    font-size: 12px;
    font-weight: 500;
  }
}

.price {  
  &:after {
    content: '\e800';
    margin-left: 4px;
    display: inline-block;
    vertical-align: top;
    font-family: 'iconsfont';
    font-size: 9px;
    line-height: 16px;
  }

  &--primary {
    color: $color-primary;
  }
}

.swiper-pagination-bullets {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgba(28, 47, 118, 0.33);

  &:hover {
    background: rgba(28, 47, 118, 0.66);
  }

  &:not(:first-child) {
    margin-left: 10px;
  }

  &-active {
    background-color: $color-primary;

    &:hover {
      background-color: $color-primary;
    }
  }
}

@media (max-width: 680px) {
  .price {
    font-size: 12px;
    font-weight: 500;
  }
}