.accruals {
  padding: 100px 120px 25px 0;

  &__item {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__btns {
    margin-top: 50px;
  }

  &__btn {
    padding-right: 14px;
    padding-bottom: 14px;
    display: block;
    width: 100%;
    border-radius: 40px;
    font-size: 14px;
  }
}

@include media_max_width(1440px) {
  .accruals {
    padding: 90px 80px 25px 0;
  }
}

@include media_max_width(1200px) {
  .accruals {
    padding: 70px 0 25px 0;
  }
}