.accrual-item {
  padding: 20px 0;
  display: flex;
  background: #FFFFFF;
  border-radius: 10px;

  &__name {
    padding-left: 30px;
    padding-top: 12px;
    padding-right: 10px;
    flex: 0 0 calc(100% / 3);
  }

  &__elems {
    flex: 1 1 auto;
    padding-right: 30px;
  }

  &__elem {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:first-child) {
      margin-top: 10px;
    }

    &-name {
      flex: 1 1 auto;
      padding-right: 10px;
    }

    &-input {
      width: 90px;
      flex: 0 0 auto;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }
  }
}