.catalog {
  padding-bottom: 45px;
  
  &__section-header {
    margin-bottom: 30px;
  }

  &__categories {
    margin-bottom: 30px;
  }

  &__item {
    margin: 0 0.5px;
  }
}

@include media_max_width(680px) {
  .catalog {
    padding-top: 70px;

    &__section-header {
      margin-bottom: 0;
    }

    &__categories {
      margin-bottom: 20px;
    }

    &__item {
      margin: 0;
    }
  }
}