.checkbox {
  display: inline-flex;
  align-items: center;

  &__input {
    display: none;
  }

  &__switch {
    position: relative;
    flex: 0 0 auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba($color-third, 0.15);
    text-align: center;
    cursor: pointer;
  }

  &__input:checked~&__switch {
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $color-third;
    }
  }

  &__text {
    margin-left: 10px;
    user-select: none;
    line-height: 1.28;
  }

  &--btn &__switch {
    width: 100%;
    height: auto;
    padding: 8px 12px;
    background: linear-gradient(180deg, rgba($color-third, 0) 0%, rgba($color-third, 0.15) 100%), #FFFFFF;
    box-shadow: 0px 0px 10px rgba($color-third, 0.25);
    border-radius: 20px;
    color: $color-gray;

    &:before {
      display: none;
    }
  }

  &--btn &__input:checked~&__switch {
    background: rgba($color-third, 0.15);
    box-shadow: none;
    cursor: default;
  }

  &--small &__switch {
    font-size: 12px;
    padding: 8px 9px;
  }
}

@include media_max_width(680px) {
  .checkbox {
    &__text {
      font-size: 12px;
      font-weight: 500;
    }
  }
}