.create-product {
  padding: 50px 0 60px;

  &__title {
    line-height: 1.29;
    font-weight: 500;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba($color-third, 0.15);
  }

  &__form {
    margin-top: 70px;
  }
}