.mobile-header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 30;
  width: 100%;
  padding: 13px 0;
  background: $color-gradient-third;
  box-shadow: 0px 0px 10px rgba($color-third, 0.25);
  display: none;

  &__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 5px;
    width: 160px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
  }

  &__btn {
    font-size: 20px;
    color: $color-primary;
  }

  &__link {
    font-size: 12px;
    font-weight: 500;
  }

  &__filter {
    margin-top: 15px;
  }

  &__search {
    text-align: right;

    &-full {
      width: 100%;
    }
  }

  &--bg-body {
    background: #fef1d9;
  }
}

@include media_max_width(680px) {
  .mobile-header {
    display: block;
    width: 100%;
  }
}