.orders-table {
  &__header {
    position: relative;
    margin-bottom: 25px;
    display: flex;
    align-items: flex-start;
  }

  &__checkbox {
    position: absolute;
    left: -60px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__btns {
    display: flex;
    align-items: center;
  }

  &__btn {
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 20px;

    &:not(:first-child) {
      margin-left: 10px;
    }
  }

  &__main {
    width: 100%;
    font-size: 12px;
    line-height: 1.33;
    border-collapse: collapse;
    table-layout: fixed;

    &:first-child tr:first-child {
      td {
        padding-top: 0;
        border-top: none;
      }
    }

    td {
      position: relative;
      padding: 15px 0 10px;
      border-top: 1px solid rgba($color-third, 0.15);

      &:nth-last-child(2) {
        width: 120px;
      }

      &:last-child {
        text-align: right;
      }
    }

    tr:last-child td {
      padding-bottom: 0;
    }
  }

  &__product {
    display: flex;
    align-items: center;

    &-img {
      margin-right: 10px;

      img {
        width: 40px;
        height: 40px;
        object-fit: contain;
      }
    }
  }

  &__user {
    line-height: 1.17;
  }

  &__inactive {

    td:not(:first-child),
    .orders-table__product {
      opacity: 0.33;
    }
  }

  &__pagination {
    margin-top: 37px;
  }

  &__more {
    margin-top: 37px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 12px;
    color: #000;
    font-weight: 400;
  }
}