.popup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 60;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.75);
  }

  &__content {
    position: relative;
    margin: auto;
    width: 720px;
    max-width: 100%;
    background: #fff;
    max-height: 100%;
    overflow-y: auto;
  }

  &__text {
    text-align: center;
    font-size: 12px;
    font-weight: 500;

    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  &__btns {
    margin-top: 36px;
    display: flex;
  }

  &__btn {
    flex: 1 1 100%;
    border-radius: 0;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 27px;
    font-size: 20px;

    &--primary {
      color: $color-primary;
    }

    &--danger {
      color: $color-danger;
    }

    &--talents {
      right: 0;
      top: 50px;
    }
  }

  &__progress {
    position: absolute;
    left: 2px;
    top: 2px;
    width: calc(100% - 4px);
  }

  &__wallet-edit {
    max-width: 480px;
    padding: 90px 0 85px;
    margin: 0 auto;
  }

  &--message {
    &:before {
      background: rgba(254, 241, 217, 0.9);
    }
  }

  &--message &__content {
    width: 266px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    background: $color-gradient-success;
    color: #fff;
  }

  &--danger {
    &:before {
      background: rgba(128, 128, 128, 0.75);
    }
  }

  &--danger &__content {
    background: #b10933;
  }

  &--full &__content {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba($color-third, 0.15), rgba($color-third, 0.15)), #FFFFFF;
  }

  &--wallet &__content {
    padding-top: 90px;
  }

  &--show {
    opacity: 1;
    visibility: visible;
  }

  &--confirm &__content {
    padding: 36px 10px 10px;
    width: 286px;
    background: linear-gradient(0deg, rgba($color-third, 0.15), rgba($color-third, 0.15)), #FFFFFF;
  }
}

.body--desktop .popup {
  min-width: $body-desktop-width;
}

@include media_max_width(680px) {
  .popup {
    &__close {
      &--talents {
        top: 15px;
      }
    }

    &--offset-top {
      top: 0;
    }
  }
}