.progress {
  position: relative;
  height: 2px;
  background-color: $color-gray;
  overflow: hidden;

  &__done {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: $color-third;

    &--success {
      background-color: $color-success;
    }

    &--danger {
      background-color: $color-danger;
    }
  }

  &--success {
    background-color: transparent;
  }

  &--success &__done {
    background: $color-success;
  }

  &--third {
    background-color: $color-third;
  }
}