.settings-input {
  width: 100%;
  padding: 20px 30px 25px;
  background: rgba($color-third, 0.15);
  border-radius: 10px;
  line-height: 20px;
  border: none;
  resize: none;
  outline: none;
  overflow-y: hidden;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  &--small {
    padding: 10px 20px;
    border-radius: 30px;
  }
}

@include media_max_width(680px) {
  .settings-input {
    padding: 10px;
    font-size: 12px;
    line-height: 18px;
  }
}