.team {
  padding-bottom: 50px;

  &__mobile-header {
    margin-bottom: 20px;
  }

  &__list {
    margin-top: 44px;
    
    &--ratings {
      margin-top: 28px;
    }
  }

  &__item {
    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  @media (max-width: 680px) {
    &__list {
      margin-top: 20px;

      &--ratings {
        margin-top: 24px;
      }
    }
  }
}