.team-item {
  padding: 20px 0;
  border-bottom: 1px solid rgba($color-third, 0.15);
  display: flex;
  align-items: center;

  &__avatar {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 120px;
      height: 120px;
      max-width: none;
      flex: 0 0 auto;
      border-radius: 50%;
      object-fit: cover;
    }

    &--story {
      border: 2px solid $color-second;
    }
  }

  &__main {
    flex: 0 0 calc(100% - 60px);
    display: flex;
    align-items: center;
    line-height: 1.43;
  }

  &__info {
    flex: 0 0 calc(50% - 30px);
  }

  &__name {
    display: inline-block;
    color: $color-primary;

    &--nowrap {
      display: flex;
    }
  }

  &__name--nowrap &__lastname {
    margin-left: 3px;
  }

  &__position {
    flex: 0 0 calc(50% - 30px);
    color: $color-gray;
  }
}

@include media_max_width(680px) {
  .team-item {
    padding: 10px 0;

    &__main {
      font-weight: 500;
      line-height: 1.33;
      font-size: 12px;
    }

    &__name {
      display: flex;
    }

    &__lastname {
      margin-left: 3px;
    }

    &__main {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}