.text-content {
  font-size: 12px;
  line-height: 1.5;

  p,
  a {
    &:not(:first-child) {
      margin-top: 6px;
    }
  }

  a {
    display: inline-block;
  }

  &__more {
    margin-top: 6px;
  }
}