.wallet {
  padding-bottom: 120px;

  &__search {
    margin-top: 35px;
  }

  &__filter {
    margin-top: 30px;
  }

  &__list {
    margin-top: 45px;
  }

  &__item {
    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__convert-form {
    margin-top: 85px;
  }

  &__recognition-user {
    padding: 0;
    display: none;
  }

  &__recognition-form {
    margin-top: 45px;
  }
}

.body--desktop .wallet {
  &__btns-box {
    min-width: $body-desktop-width;
    max-width: none;
  }
}

@include media_max_width(680px) {
  .wallet {
    padding-top: 115px;
    padding-bottom: 60px;

    &__list {
      margin-top: 15px;
    }

    &__convert-form {
      margin-top: 50px;
    }

    &__recognition-form {
      margin-top: 30px;
    }

    &__recognition-user {
      padding: 20px 0 0;
      display: flex;
      border-bottom: none;
    }

    &--pt-xs-80 {
      padding-top: 80px;
    }
  }
}