.wallet {
  padding-bottom: 120px;

  &__search {
    margin-top: 35px;
  }

  &__filter {
    margin-top: 30px;
  }

  &__list {
    margin-top: 45px;
  }

  &__item {
    &:not(:first-child) {
      padding-top: 15px;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__btns-box {
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 20px;
    width: 100%;
  }

  &__btns {
    margin: 0 auto;
    display: flex;
    width: 750px;
    max-width: 100%;
  }

  &__btn {
    flex: 1 1 100%;

    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  &__convert-form {
    margin-top: 85px;
  }

  &__recognition-user {
    padding: 0;
    display: none;
  }

  &__recognition-form {
    margin-top: 45px;
  }
}

.body--desktop .wallet {
  &__btns-box {
    min-width: $body-desktop-width;
    max-width: none;
  }
}

@include media_max_width(1200px) {
  .wallet {
    &__btns {
      width: 667px;
    }
  }
}

@include media_max_width(991px) {
  .wallet {
    &__btns {
      width: 633px;
    }
  }
}

@include media_max_width(860px) {
  .wallet {
    &__btns {
      width: 553px;
    }
  }
}

@include media_max_width(680px) {
  .wallet {
    padding-top: 115px;
    padding-bottom: 60px;

    &__list {
      margin-top: 15px;
    }

    &__convert-form {
      margin-top: 50px;
    }

    &__btns-box {
      bottom: 0;
    }

    &__btn {
      border-radius: 0;
      font-size: 12px;
      font-weight: 500;
      padding-top: 16px;
      padding-bottom: 16px;

      &:not(:first-child) {
        margin-left: 0;
      }
    }

    &__recognition-form {
      margin-top: 40px;
    }

    &__recognition-user {
      display: flex;
      border-bottom: none;
    }
  }
}